trigger:
  batch: true
  branches:
    include:
    - dotnet/main
    - dotnet/release/*

pr: none

variables:
- template: /eng/common-variables.yml@self
- template: /eng/common/templates-official/variables/pool-providers.yml@self

resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

parameters:
- name: linuxBuilds
  type: object
  default:
  - arch: x64
    assetManifestOS: linux
    imagename: linux_x64
    rootfs: ''
  - arch: arm64
    assetManifestOS: linux
    imagename: linux_arm64
    rootfs: /crossrootfs/arm64
- name: macBuilds
  type: object
  default:
  - arch: x64
  - arch: arm64
- name: windowsBuilds
  type: object
  default:
  - arch: x64
  - arch: arm64

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    sdl:
      credscan:
        suppressionsFile: $(Build.SourcesDirectory)\.config\CredScanSuppressions.json
      eslint:
        enabled: false
        justificationForDisabling: 'The checkIfEnableEslint.ps1 script for 1ES fails while getting the list of files. Tracking in https://dev.azure.com/mseng/1ES/_workitems/edit/2162474'
      psscriptanalyzer:
        enabled: false
        justificationForDisabling: 'PSScriptAnalyzer fails while getting the list of files. Tracking in https://dev.azure.com/mseng/1ES/_workitems/edit/2162474'
      armory:
        enabled: false
        justificationForDisabling: 'Armory runs into an OutOfMemoryException. Tracking in https://dev.azure.com/mseng/1ES/_workitems/edit/2162474'
      binskim:
        enabled: true
        scanOutputDirectoryOnly: true
      sourceAnalysisPool:
        name: $(DncEngInternalBuildPool)
        image: 1es-windows-2022
        os: windows
    containers:
      linux_x64:
        image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-cross-20230215165054-0ea3466
      linux_arm64:
        image: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-18.04-cross-arm64-20230215165054-0ea3466
    stages:
    - stage: build
      displayName: Build
      jobs:
      - template: /eng/common/templates-official/jobs/jobs.yml@self
        parameters:
          enablePublishBuildArtifacts: true
          enablePublishBuildAssets: true
          enablePublishUsingPipelines: true
          jobs:

          ############ LINUX BUILD ############
          - ${{ each buildjob in parameters.linuxBuilds }}:
            - job: Build_${{ replace(buildjob.assetManifestOS, '-', '_') }}_${{ buildjob.arch }}
              displayName: ${{ buildjob.assetManifestOS }} ${{ buildjob.arch }}
              timeoutInMinutes: 360
              pool:
                name: $(DncEngInternalBuildPool)
                image: 1es-ubuntu-2204
                os: linux
              container: ${{ buildjob.imagename }}
              steps:
              - script: |
                  git clean -ffdx
                  git reset --hard HEAD
                displayName: 'Clean up working directory'

              - bash: |
                  ./build.sh --ci --restore --build --pack --arch ${{ buildjob.arch }} --configuration $(_BuildConfig) $(_InternalBuildArgs) /p:ClangVersion=clang-9 /p:ClangPlusVersion=clang++-9 /p:RestoreUsingNuGetTargets=false
                displayName: 'Build and package'
                env:
                  ROOTFS_DIR: ${{ buildjob.rootfs }}

              - bash: ./eng/common/build.sh --ci --restore --publish --configuration $(_BuildConfig) $(_InternalBuildArgs) /p:AssetManifestOS=${{ buildjob.assetManifestOS }} /p:PlatformName=${{ buildjob.arch }} --projects $(Build.SourcesDirectory)/node.proj
                displayName: Publish packages
                condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

          ############ MACOS BUILD ############
          - ${{ each buildjob in parameters.macBuilds }}:
            - job: Build_macOS_${{ buildjob.arch }}
              displayName: macOS ${{ buildjob.arch }}
              timeoutInMinutes: 480
              pool:
                name: Azure Pipelines
                vmImage: macOS-12
                os: macOS
              steps:
              - script: |
                  git clean -ffdx
                  git reset --hard HEAD
                displayName: 'Clean up working directory'

              - bash: |
                  ./build.sh --ci --restore --build --pack --arch ${{ buildjob.arch }} --configuration $(_BuildConfig) $(_InternalBuildArgs) /p:RestoreUsingNuGetTargets=false
                displayName: 'Build and package'

              - bash: ./eng/common/build.sh --ci --restore --publish --configuration $(_BuildConfig) $(_InternalBuildArgs) /p:AssetManifestOS=osx /p:PlatformName=${{ buildjob.arch }} --projects $(Build.SourcesDirectory)/node.proj
                displayName: Publish packages
                condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

          ############ WINDOWS BUILD ############
          - ${{ each buildjob in parameters.windowsBuilds }}:
            - job: Build_Windows_${{ buildjob.arch }}
              displayName: Windows ${{ buildjob.arch }}
              timeoutInMinutes: 120
              pool:
                name: $(DncEngInternalBuildPool)
                image: 1es-windows-2022
                os: windows
              steps:
              - script: |
                  git clean -ffdx
                  git reset --hard HEAD
                displayName: 'Clean up working directory'

              - powershell: eng\build.ps1 -ci -restore -build -pack -arch ${{ buildjob.arch }} -configuration $(_BuildConfig) $(_InternalBuildArgs) /p:RestoreUsingNuGetTargets=false
                displayName: 'Build and package'

              - powershell: eng\common\build.ps1 -ci -restore -publish -configuration $(_BuildConfig) $(_InternalBuildArgs) /p:AssetManifestOS=win /p:PlatformName=${{ buildjob.arch }} -projects $(Build.SourcesDirectory)\node.proj
                displayName: Publish packages
                condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))

    ############ POST BUILD ARCADE LOGIC ############
    - template: /eng/common/templates-official/post-build/post-build.yml@self
      parameters:
        enableSourceLinkValidation: false
        enableSigningValidation: false
        enableSymbolValidation: false
        enableNugetValidation: true
